<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Assets/style.css"/>
    <title>PyWeather</title>
</head>
<body>
    <table cellspacing="30">
        <td>
            <a href="{{url_for('login')}}">Login</a>
        </td>
        <td>
            <a href="{{url_for('register')}}">Register</a>
        </td>
        <td>
            <div class="top-container" aria-setsize="">
                <img src="/Assets/images/cloudsunwallpaper.png" width="300" height="300" alt="cloud-img">
            </div>
        </td>
</body>
</html>